.button-container {
    display: flex;
    align-items: center;
    margin: 20px 10px;
}

.left-buttons a {
    margin-right: 10px;
}

.spacer {
    flex-grow: 1;
}

.right-button {
    display: flex;
    justify-content: flex-end;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background: #333;
    color: white;
}

.table tr:hover {
    background: #f1f1f1;
}

#create-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.btn-launch {
    background-color: #E8E8E8;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
    color: black;
}

.btn:hover {
    opacity: 0.9;
}

.dropdown-toggle {
    background-color: #E8E8E8;
}

.favorite-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.favorite-btn i {
    font-size: 20px;
    color: gray;
    transition: color 0.3s ease-in-out;
}


.favorite-btn i.temporary-favorite {
    color: gold;
}


.favorite-app-template .favorite-btn i {
    color: gold !important;
}

.favorite-btn i.temporary-favorite {
    color: gold;
}