{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Tutorial" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_domain_page_header.html" with title=_("Tutorial") %}
{% endblock page_header %}

{% block main %}



    <p>Tutorial</p>

    {% if images %}
        <h3>Available Images</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Size</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
            {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>{{ image.name }}</td>
                    <td>{{ image.owner_name }}</td>
                    <td>{{ image.size }}</td>
                    <td>{{ image.status }}</td>
                    <td>{{ image.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No images available or unable to retrieve images.</p>
    {% endif %}




{% endblock %}
