<!--This file is the general structure of every example use case in the tutorial -->

<!--Accordion is used as the surrounding structure for a single use case-->
<button class="accordion">
    <span class="text">Use Case <strong>{{ example_info.use_case_title }}</strong>: {{ example_info.use_case_problem_question }}</span>
    <span class="icon">▶</span>
</button>

<div class="panel">
    <p><strong>Use Case for Lecturers:</strong></p>
<p>{{ example_info.use_case_description|safe }}</p>
<p><strong>Overview:</strong> {{ example_info.overview|safe }}</p>
<p><strong>Learning objectives:</strong> By following this example, lecturers will learn how to:</p>
<ul>
    {% for learning_objective in example_info.learning_objectives %}
        <li>{{ learning_objective }}</li>
    {% endfor %}
</ul>
<br/>
<p><strong>Note:</strong> Find the
    <a href="{% url 'horizon:eduvmstore_dashboard:instructions:index' %}"
       target="_blank">instruction</a> section for a general guide.</p>
    {% if example_info.product_name %}
        <p>For detailed information about {{ example_info.product_name }}, visit the official
        <a href="{{ example_info.product_url }}" target="_blank">{{ example_info.product_name }} documentation</a>.</p>
    {%  endif %}

<p><strong>Notice:</strong> Before proceeding with this use case, you can also search for a fitting
    publicly available AppTemplate in the dashboard to clone and adjust for your purpose.
    If you do not find anything suitable or prefer to create your own AppTemplate, you can start with
    <strong>1. Create an AppTemplate</strong>.</p>

<h3>1. Create an AppTemplate</h3>
        <p>To create an AppTemplate for the {{ example_info.use_case_title }}, follow these steps:</p>
        <ol>
            <li>Navigate to the AppTemplates section in the EduVMStore Dashboard.</li>
            <li>Click on the "Create New AppTemplate" button.</li>
            <li><strong>General Configuration:</strong>
                <ul>
                    <li>Step 1: Select the base image for the AppTemplate. For this Example choose
                        {{ example_info.image_name }}. On the basis of this image the AppTemplate will be created.
                    </li>
                    <li>Step 2: Fill in the general information for the AppTemplate.
                        As AppTemplate Name choose "{{ example_info.preset.name }}"
                        or a similar name if not available.
                        In the "Short Description" write "{{ example_info.preset.short_description }}".
                        This is for quickly recognizing the purpose of the AppTemplate.
                        For "Description" write "{{ example_info.preset.description }}". This gives a detailed overview of the
                        Purpose of the AppTemplate.
                        {% if example_info.preset.instantiation_notice == "" %}
                            Leave the "Instantiation Notice" field empty.
                        {% else %}
                            In the "Instantiation Notice" write "{{ example_info.preset.instantiation_notice }}".
                        {% endif %}
                        This field is used
                        to inform the user about additional steps needed to perform during the instantiation
                        process.
                    </li>
                    <li>Step 3: Select whether the AppTemplate should be available for all lecturers or
                        only for you (the creator). In this example: select "Only You".
                    </li>
                </ul>
            </li>
            <li><strong>Configure minimum resources requirements:</strong>
                <ul>
                    <li>Step 1: Enter the appropriate minimum resources for the AppTemplate:
                        <ul>
                            <li>RAM: {{ example_info.preset.fixed_ram_gb }} GB</li>
                            <li>Disk Space: {{ example_info.preset.fixed_disk_gb }} GB</li>
                            <li>CPU Cores: {{ example_info.preset.fixed_cores }}</li>
                        </ul>
                    </li>
                    <li>Step 2: Optionally enter a minimum volume size. This is for extra storage in the vm.
                        For this example, set the volume size to {{ example_info.preset.volume_size }} GB.
                    </li>
                </ul>
            </li>
            <li><strong>Configure Security Groups</strong>
                <ul>
                    <li>Select one or more existing security groups to be used for the
                        AppTemplate. These security groups define the network access rules for the
                        instances launched from this AppTemplate.
                        {{ example_info.security_group_instructions }}
                    </li>
                </ul>
            </li>
            <li><strong>Write Configuration Script:</strong>
                <ul>
                    <li>Step 1: Enter instantiation and account attributes to be used in the configuration
                        script. Those are variables used in the script. They will be filled with values
                        during the instantiation of the AppTemplate. Account Attributes can be used for user
                        related data where each user has different data (e.g. username). Instantiation
                        attributes are only filled once per Instance (e.g. java-version).
                        {% if example_info.preset.instantiation_attributes %}
                            In this case use {{ example_info.preset.instantiation_attributes }} as instantiation attributes.
                        {% else %}
                            In this AppTemplate Example you do not need instantiation attributes.
                        {% endif %}

                        {% if example_info.preset.account_attributes %}
                            In this case use {{ example_info.preset.account_attributes }} as account attributes.
                        {% else %}
                            In this AppTemplate Example you do not need account attributes.
                        {% endif %}
                    </li>
                    <li>Step 2: Click the "Write Script" button to open the script editor.</li>
                    <li>Step 3: Write the following cloud-init configuration script to automate the setup of
                        the {{ example_info.use_case_title }}:
                    </li>
                    <pre><code>
                        {{ example_info.preset.script|safe }}
                    </code></pre>
                    <li>Step 4: Click the "Save Script" button and the "Create" button to create the
                        AppTemplate.
                    </li>
                </ul>
            </li>
        </ol>

        <h3>2. Launch an Instance</h3>
        <p>To launch an instance using the created AppTemplate, follow these steps:</p>
        <ol>
            <li>Navigate to the AppTemplates section in the EduVMStore Dashboard.</li>
            <li>Click the "Launch" button next to the {{ example_info.use_case_title }} AppTemplate.</li>
            <li><strong>Configure General Launch Details:</strong>
                <ul>
                    <li>
                        {% if example_info.instance_count == 1 %}
                            Keep the default settings for the instance. In this case,
                            separate keys are not required as only one instance is needed.
                        {% else %}
                            Change the number of instances to {{ example_info.instance_count }}. Select Separate keys to
                            have a unique ssh key for each instance.
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li><strong>Configure Instance Details:</strong>
                <ul>
                    <li>Step 1: Select the Flavor {{ example_info.flavour }} for the instance. If not available, choose
                        one that meets the minimum resource requirements specified in the AppTemplate.
                    </li>
                    <li>Step 2: Select the network "provider_912" for the instance.</li>
                    <li>Step 3:
                        {% if example_info.volume_size == 0 %}
                            Choose No additional volume.
                        {% else %}
                            Create a volume of the size {{ example_info.preset.volume_size }}.
                        {% endif %}
                    </li>
                    <li>Step 4: Enter Instantiation Attributes like versions, if required by the
                        AppTemplate.
                        <ul>
                        {% for instantiation_attribute in example_info.preset.instantiation_attributes %}
                                <li>For {{ instantiation_attribute.name }} enter
                                    {{ instantiation_attributes_recommended_values[foorloop.counter0] }}</li>
                        {% endfor %}
                        </ul>

                    </li>
                    {% if example_info.preset.account_attributes %}
                        <li>Step 5: Add users to the instance. The variables come from
                            the account attributes field.
                            <ul>
                                <li>Enter the number of users to be added to the instance.</li>
                                <li>Upload a CSV file with the user data or enter the user data directly by
                                    filling in the form fields for each user.
                                    The CSV file should contain the user data in the format
                                    <code>username,password,firstname,lastname,email</code>.
                                </li>
                                <li>After entering the user data manually, you can optionally click the
                                    "Export CSV" button to download the CSV file with the user data.
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>Step 6: Click the "Launch" button to start the instance.</li>
                </ul>
            </li>
        </ol>
    <a href="{% url 'horizon:eduvmstore_dashboard:eduvmstore:create_empty' %}?template={{ example_info.link_id }}"
       class="btn btn-primary mt-3">
        Use This Example
    </a>
</div>