{% extends "base.html" %}

{% block content %}
<h1>Create New App Template</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        {{ form.image.label }}
        {{ form.image }}
        {{ form.image.errors }}
    </div>

    <div class="form-group">
        {{ form.image_id.label }}
        {{ form.image_id }}
        {{ form.image_id.errors }}
    </div>

    <div class="form-group">
        {{ form.script.label }}
        {{ form.script }}
        {{ form.script.errors }}
    </div>

    <div class="form-group">
        {{ form.name.label }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>

    <div class="form-group">
        {{ form.short_description.label }}
        {{ form.short_description }}
        {{ form.short_description.errors }}
    </div>

    <div class="form-group">
        {{ form.description.label }}
        {{ form.description }}
        {{ form.description.errors }}
    </div>

    <div class="form-group">
        {{ form.notice.label }}
        {{ form.notice }}
        {{ form.notice.errors }}
    </div>

    <div class="form-group">
        {{ form.visibility.label }}
        {{ form.visibility }}
        {{ form.visibility.errors }}
    </div>

    <h4>System Requirements</h4>

    <div class="form-group">
        {{ form.min_ram.label }}
        {{ form.min_ram }}
        {{ form.min_ram.errors }}
    </div>

    <div class="form-group">
        {{ form.min_disk.label }}
        {{ form.min_disk }}
        {{ form.min_disk.errors }}
    </div>

    <div class="form-group">
        {{ form.min_cores.label }}
        {{ form.min_cores }}
        {{ form.min_cores.errors }}
    </div>

    <div class="form-group">
        {{ form.res_per_user_ram.label }}
        {{ form.res_per_user_ram }}
        {{ form.res_per_user_ram.errors }}
    </div>

    <div class="form-group">
        {{ form.res_per_user_disk.label }}
        {{ form.res_per_user_disk }}
        {{ form.res_per_user_disk.errors }}
    </div>

    <div class="form-group">
        {{ form.res_per_user_cores.label }}
        {{ form.res_per_user_cores }}
        {{ form.res_per_user_cores.errors }}
    </div>

    <button type="submit" class="btn btn-primary">Create App Template</button>
</form>
{% endblock %}