{% block title %}{{ app_template.name }}{% endblock %}

{% block page_header %}
  <h1>{{ app_template.name }}</h1>
  <p>{{ app_template.short_description }}</p>
{% endblock %}

{% block main %}
  <div class="detail-section">
    <h4>App Template Details</h4>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ app_template.name }}</dd>

      <dt>Description</dt>
      <dd>{{ app_template.description }}</dd>

      <dt>Instantiation Notice</dt>
      <dd>{{ app_template.instantiation_notice }}</dd>

      <dt>Version</dt>
      <dd>{{ app_template.version }}</dd>

      <dt>Fixed RAM (GB)</dt>
      <dd>{{ app_template.fixed_ram_gb }}</dd>

      <dt>Fixed Disk (GB)</dt>
      <dd>{{ app_template.fixed_disk_gb }}</dd>

      <dt>Fixed Cores</dt>
      <dd>{{ app_template.fixed_cores }}</dd>

      <dt>Per User RAM (GB)</dt>
      <dd>{{ app_template.per_user_ram_gb }}</dd>

      <dt>Per User Disk (GB)</dt>
      <dd>{{ app_template.per_user_disk_gb }}</dd>

      <dt>Per User Cores</dt>
      <dd>{{ app_template.per_user_cores }}</dd>
    </dl>
  </div>

  <div class="detail-section">
    <h4>Image Information</h4>
    <dl class="dl-horizontal">
      <dt>Visibility</dt>
      <dd>{{ image_visibility }}</dd>

      <dt>Owner</dt>
      <dd>{{ image_owner }}</dd>
    </dl>
  </div>
{% endblock %}