{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "EduVMStore" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_domain_page_header.html" with title=_("EduVMStore") %}
{% endblock page_header %}

{% block main %}
    <<nav style="display: flex; align-items: center; justify-content: flex-end; margin-bottom: 5px;">
    <img src="{% static 'images/Unbenannt.png' %}" alt="Logo" style="height: 30px; margin-right: 10px;">
    <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
        <li style="margin-left: 20px;"><a href="{% url 'horizon:identity:eduvmstore:index' %}" style="color: black; text-decoration: none;">Home</a></li>
        <li style="margin-left: 20px;"><a href="{% url 'horizon:identity:eduvmstore:detail' %}" style="color: black; text-decoration: none;">Second Page</a></li>
    </ul>
    </nav>
    <hr style="border: 1px solid lightgray; margin: 5px 0;">

    {% with name="World from a variable" %}
        <div>Hello {{ name }}!</div>
    {% endwith %}
    <a class="btn btn-primary" href="{% url 'horizon:identity:eduvmstore:detail' %}">Go to the Second Page</a>
    <p>Welcome, {{ username }}!</p>


    <!-- Authentifizierungstoken anzeigen -->
    <p>Authentication Token: {{ auth_token }}</p>

    <h1>Fetch Data Demo</h1>
    <button id="fetch-button">Daten abrufen</button>
    <div id="data-output"></div>


    <!-- Bild einfügen -->
    <img src="{% static 'images/Unbenannt.png' %}" alt="Ein Beispielbild" width="400">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#fetch-button').click(function() {
                $.ajax({
                    url: 'https://sasvserver.azurewebsites.net/test',
                    type: 'GET',
                    dataType: 'text',  // Ändere dies auf 'text' oder 'html', falls die Antwort nicht JSON ist
                    success: function(response) {
                        // Prüfe den Rückgabetyp und handle ihn entsprechend
                        if (typeof response === 'object') {
                            // Wenn die Antwort JSON ist, zeige eine spezifische Eigenschaft an
                            $('#data-output').html(response.message || 'Erfolgreich Daten abgerufen!');
                        } else {
                            // Wenn die Antwort ein einfacher Text ist
                            $('#data-output').html(response);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Ein Fehler ist aufgetreten:', xhr, status, error);
                        $('#data-output').html('Ein Fehler ist aufgetreten: ' + error);
                    }
                });
            });
        });
    </script>
{% endblock %}
