{% extends 'base.html' %}
{% load static %}
{% block title %}Create Instances{% endblock %}

{% block page_header %}
    <div style="display: flex; align-items: center; margin-bottom: 20px; justify-content: space-between; border-bottom: 1px solid #e0e0e0;">
        <div style="margin-right: 15px;">
            <h1 class="page-title mb-0">Create Instance</h1>
               {% if image_id %}
        <h4>ID: {{ image_id }}</h4>
    {% endif %}
        </div>
        <div>
            <img src="{% static 'images/Unbenannt.png' %}" alt="Logo" class="logo-img" style="height: 95px;">
        </div>
    </div>
{% endblock %}

{% block main %}

    <div>
        {% csrf_token %}

        <div class="form-group">
            {{ form.instance_name.label_tag }}
            {{ form.instance_name }}
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    {{ form.add_user.label_tag }}
                    {{ form.add_user }}
                </div>
                <div class="col-md-4">
                    {{ form.file.label_tag }}
                    {{ form.file }}
                </div>
                <div class="col-md-4">
                    {{ form.no_additional_user.label_tag }}
                    {{ form.no_additional_user }}
                </div>
            </div>
        </div>

        <h3>Manage Sizing</h3>
        <div class="form-group">
            {{ form.select_flavor.label_tag }}
            {{ form.select_flavor }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.ram.label_tag }}
                    {{ form.ram }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.disk.label_tag }}
                    {{ form.disk }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.cores.label_tag }}
                    {{ form.cores }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.root_disk.label_tag }}
                    {{ form.root_disk }}
                </div>
            </div>
        </div>

        <h3>Network</h3>
        <div class="form-group">
            {{ form.network.label_tag }}
            {{ form.network }}
        </div>

        <button type="button" class="btn btn-primary" onclick="createInstance()">Create</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
    </div>


    <script>
        function createInstance() {
            const appTemplateId = "{{ image_id }}"; // Assuming image_id is the app template ID
            const flavorId = document.querySelector('select[name="select_flavor"]').value;

            const accounts = [
                { username: "student1", password: "1234" },
                { username: "student2", password: "5678" }
            ];

            const payload = {
                app_template_id: appTemplateId,
                flavor_id: flavorId,
                accounts: accounts
            };

            console.log('Payload:', payload);

            fetch('http://localhost:8000/api/app-templates/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(payload)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    // Handle the response data here
                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Handle the error here
                });


        }
    </script>
{% endblock %}