{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block page_header %}
    <div class="d-flex justify-content-between align-items-center">
        <!-- Left-aligned title -->
        <h1 class="mb-0">{% trans "App-Template Overview" %}</h1>

        <!-- Right-aligned button -->
       <a href="{% url 'horizon:eduvmstore_dashboard:eduvmstore:details' %}" class="btn btn-primary ml-auto ">
            {% trans "Add App-Template" %}
        </a>
    </div>
{% endblock page_header %}

{% block main %}

<div class="row">
   <div class="col-sm-12">
   {{ tab_group.render }}
   </div>
</div>

{% endblock %}

