{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_domain_page_header.html" with title=_("App-Template Overview") %}
{% endblock page_header %}

{% block main %}

<div class="row">
   <div class="col-sm-12">
   {{ tab_group.render }}
   </div>
</div>

    {% block content %}
    <h2>Available Images</h2>
    {% if images %}
        <ul>
            {% for image in images %}
                <li>
                    <strong>{{ image.name }}</strong> (ID: {{ image.id }})
                    <br>
                    Status: {{ image.status }}
                    <br>
                    <a href="{% url 'eduvmstore:image_detail' image.id %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No images found.</p>
    {% endif %}
{% endblock %}

{% endblock %}
