
{% with app_templates=app_templates is_favorites=is_favorites %}
<style>
 .btn-launch {
        background-color: #E8E8E8;
        padding: 10px 20px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 4px;
        color: black;
    }

   .dropdown-toggle {
         background-color: #E8E8E8;
   }
 .table {
     table-layout: fixed;
 }

</style>
<table class="table table-striped">
    <thead>
        <tr>
            <th>AppTemplate Name</th>
            <th>Short Description</th>
            <th>Size (MB)</th>
            <th>Available for</th>
            <th>Launch</th>
            <th>Favorite</th>
        </tr>
    </thead>
    <tbody>
        {% for app_template in app_templates %}
        <tr {% if is_favorites %}class="favorite-app-template"{% endif %}>
                <td>
                    <a href="{% url 'horizon:eduvmstore_dashboard:eduvmstore:details' app_template.id %}" class="template-link">
                        {{ app_template.name }}
                    </a>
                </td>
            <td>{{ app_template.short_description }}</td>
            <td>{{ app_template.size }} </td>
           <td>
               {% if app_template.public and app_template.approved %}
                   All Lecturers
               {% elif app_template.public and not app_template.approved %}
                   Waiting for approval
               {% elif not app_template.public and not app_template.approved %}
                   Creator only
               {% endif %}
            </td>
              <td>
    <div class="btn-group">
                   <a href="{% url 'horizon:eduvmstore_dashboard:eduvmstore:instances' app_template.id %}" class="btn btn-launch">
            Launch
        </a>

        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">
    <li>
        <a class="dropdown-item" href="{% url 'horizon:eduvmstore_dashboard:eduvmstore:edit' app_template.id %}">
            Edit AppTemplate
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'horizon:eduvmstore_dashboard:eduvmstore:create_with_template' app_template.id %}">
         Clone AppTemplate
        </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
        <a class="dropdown-item text-danger" href="#"
                                   onclick="event.preventDefault();
                                            if (confirm('Are you sure you want to delete this AppTemplate?')) {
                                                document.getElementById('delete-form-{{ app_template.id }}').submit();
                                            }">
                                    Delete AppTemplate
                                </a>

        <form id="delete-form-{{ app_template.id }}" method="post"
              action="{% url 'horizon:eduvmstore_dashboard:eduvmstore:delete_template' app_template.id %}"
              style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="template_name" value="{{ app_template.name }}">
        </form>
    </li>
</ul>

    </div>
              </td>
                  <td>
                      <form method="post" action="{% if is_favorites %}{% url 'horizon:eduvmstore_dashboard:eduvmstore:delete_favorite_template' %}{% else %}{% url 'horizon:eduvmstore_dashboard:eduvmstore:favorite_template' %}{% endif %}" class="favorite-form">
                          {% csrf_token %}
                          <input type="hidden" name="template_id" value="{{ app_template.id }}">
                          <input type="hidden" name="template_name" value="{{ app_template.name }}">
                          <button type="submit" class="favorite-btn">
                              <i class="fa fa-star {% for fav_app_template in favorite_app_templates %}{% if fav_app_template.id == app_template.id %}temporary-favorite{% endif %}{% endfor %}"></i>
                          </button>
                      </form>
                  </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endwith %}