{% extends 'base.html' %}
{% load static %}
{% block title %}EduVMStore Admin{% endblock %}

{% block page_header %}
    {% include "horizon/common/_domain_page_header.html" with title=_("EduVMStore Admin") %}
{% endblock page_header %}

{% block main %}

    {% if show_content %}
        <h3>Welcome, {{ username }}!</h3>
        <hr style="border: 1px solid lightgray; margin: 5px 0;">
        <h2>Confirm new App-Templates</h2>
        <p><i style="color: gray;">Here you can confirm new App-Templates that have been uploaded by users.</i></p>
        <hr style="border: 1px solid lightgray; margin: 5px 0;">
        <h2>Edit User Roles</h2>
        <p><i style="color: gray;">Here you can edit the roles of users.</i></p>
        <hr style="border: 1px solid lightgray; margin: 5px 0;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="border: 1px solid black; padding: 5px;">ID</th>
                <th style="border: 1px solid black; padding: 5px;">Role Name</th>
                <th style="border: 1px solid black; padding: 5px;">New Role</th>
                <th style="border: 1px solid black; padding: 5px;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in detailed_users %}
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">{{ user.id }}</td>
                    <td style="border: 1px solid black; padding: 5px;">{{ user.role.name }}</td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <select id="new_role_{{ user.id }}" style="width: 100%;">
                            {% for role in roles %}
                                <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="border: 1px solid black; padding: 5px; text-align: center;">
                        <button  style="padding: 5px 10px;">
                            Confirm
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1 style="text-align: center;">This page is still under construction. Come back soon.</h1>
    {% else %}
        <div style="text-align: center; margin-top: 50px;">
            <img src="{% static 'images/Unbenannt.png' %}" alt="EduVMStoreLogo" width="200" style="display: block; margin: 0 auto;">
            <p style="font-size: 24px;">Access denied.</p>
            <p style="font-size: 18px;">The account "{{ username }}" does not have permission to view this page.</p>
            <p style="font-size: 18px;">Contact an administrator to request permission.</p>
        </div>
    {% endif %}

{% endblock %}
